src/main/mule/travelontip_externalsystems.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="travelontip_externalsystemsFlow" doc:id="5595e6d7-79ee-4033-9888-02a0be6186fb" >
		<http:listener doc:name="Listener" doc:id="e4fe78ef-40bd-454c-a2c0-41fd61e13498" path="${http.listener.path}" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="4a9e008b-a487-4115-826d-c308f022ff80" message="Request Recieved TravelOnTip External System For TransactionId: #[attributes.headers.transactionId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="d40a4583-aed2-4393-96d1-7b41f3546839" message="Response sent For TravelOnTip External System for TransactionId: #[attributes.headers.transactionId]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7c16e7d9-e7b2-4b44-bfa8-796864ee0ed8" >
				<logger level="INFO" doc:name="Logger" doc:id="d19ab71f-23ce-441a-b195-b3c0e036dbcb" message="Error Occoured For TravelOnTip External System for  TransactionId: #[attributes.headers.transactionId]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
